#
# 机型选择
#
CONFIG_TARGET_ipq40xx=y 
CONFIG_TARGET_ipq40xx_DEVICE_p2w_r619ac-128m=y

#
# IPV6支持
#
CONFIG_IPV6=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_6in4=y


CONFIG_PACKAGE_kmod-can=n
CONFIG_PACKAGE_kmod-multimedia-input=n
CONFIG_PACKAGE_kmod-sdhci=n
CONFIG_PACKAGE_kmod-i2c-core=n
CONFIG_PACKAGE_kmod-usb-audio=n
CONFIG_PACKAGE_kmod-usb-ehci=n
CONFIG_PACKAGE_kmod-usb-ohci=n
CONFIG_PACKAGE_kmod-usb-ohci-pci=n
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_kmod-usb-uhci=n
CONFIG_PACKAGE_kmod-usb2=n
CONFIG_PACKAGE_kmod-usb2-pci=n
CONFIG_PACKAGE_kmod-usb3=n

CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-amule=n
CONFIG_PACKAGE_luci-app-airplay2=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-baidupcs-web=n
CONFIG_PACKAGE_luci-app-brook-server=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=n
CONFIG_PACKAGE_luci-app-dnspod=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-familycloud=n
CONFIG_PACKAGE_luci-app-fileassistant=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-flowoffload=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-gowebdav=n
CONFIG_PACKAGE_luci-app-guest-wifi=n
CONFIG_PACKAGE_luci-app-haproxy-tcp=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-ipsec-server=n
CONFIG_PACKAGE_luci-app-jd-dailybonus=n
CONFIG_PACKAGE_luci-app-kcptun=n
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-mentohust=n
CONFIG_PACKAGE_luci-app-minidlna=n
CONFIG_PACKAGE_luci-app-mjpg-streamer=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-n2n_v2=n
CONFIG_PACKAGE_luci-app-nfs=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-nps=n
CONFIG_PACKAGE_luci-app-onliner=n
CONFIG_PACKAGE_luci-app-ntpc=n
CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple-obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray-plugin=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-ps3netsrv=n
CONFIG_PACKAGE_luci-app-rclone=m
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-serverchan=n
CONFIG_PACKAGE_luci-app-sfe=n
CONFIG_PACKAGE_luci-app-shairplay=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-socat=n
CONFIG_PACKAGE_luci-app-softethervpn=n
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-ssr-mudb-server=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-syncthing=n
CONFIG_PACKAGE_luci-app-tinyproxy=n
CONFIG_PACKAGE_luci-app-transmission=n
CONFIG_PACKAGE_luci-app-trojan-server=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_UnblockNeteaseMusic_Go=n
CONFIG_UnblockNeteaseMusic_NodeJS=n
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-uugamebooster=n
CONFIG_PACKAGE_luci-app-v2ray-server=n
CONFIG_PACKAGE_luci-app-vssr=n
CONFIG_PACKAGE_luci-app-watchcat=n
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-udptools=n
CONFIG_PACKAGE_luci-proto-minieap=n
CONFIG_PACKAGE_luci-proto-bonding=n
CONFIG_PACKAGE_luci-proto-ipv6=n
CONFIG_PACKAGE_luci-proto-modemmanager=n
CONFIG_PACKAGE_luci-proto-openconnect=n
CONFIG_PACKAGE_luci-proto-relay=n
CONFIG_PACKAGE_luci-proto-wireguard=n
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-theme-material=n

CONFIG_LUCI_LANG_ca=n
CONFIG_LUCI_LANG_cs=n
CONFIG_LUCI_LANG_de=n
CONFIG_LUCI_LANG_el=n
CONFIG_LUCI_LANG_es=n
CONFIG_LUCI_LANG_fr=n
CONFIG_LUCI_LANG_he=n
CONFIG_LUCI_LANG_hu=n
CONFIG_LUCI_LANG_it=n
CONFIG_LUCI_LANG_ja=n
CONFIG_LUCI_LANG_ko=n
CONFIG_LUCI_LANG_ms=n
CONFIG_LUCI_LANG_no=n
CONFIG_LUCI_LANG_pl=n
CONFIG_LUCI_LANG_pt=n
CONFIG_LUCI_LANG_pt-br=n
CONFIG_LUCI_LANG_ro=n
CONFIG_LUCI_LANG_ru=n
CONFIG_LUCI_LANG_sk=n
CONFIG_LUCI_LANG_sv=n
CONFIG_LUCI_LANG_tr=n
CONFIG_LUCI_LANG_uk=n
CONFIG_LUCI_LANG_vi=n
CONFIG_LUCI_LANG_zh-tw=n

CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=n
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=n
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=n
CONFIG_PACKAGE_ddns-scripts_no-ip_com=n
CONFIG_PACKAGE_ddns-scripts_nsupdate=n
CONFIG_PACKAGE_ddns-scripts_route53-v1=n
CONFIG_PACKAGE_iperf=n
CONFIG_PACKAGE_minieap=n
CONFIG_PACKAGE_rsync=n
CONFIG_PACKAGE_rsyncd=n
CONFIG_PACKAGE_bind-dig=n
CONFIG_PACKAGE_bind-host=n
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_ip6tables-extra=n
CONFIG_PACKAGE_ip6tables-mod-nat=n
CONFIG_PACKAGE_mentohust=n
CONFIG_PACKAGE_openssh-sftp-client=n
CONFIG_PACKAGE_openssh-sftp-server=n
CONFIG_PACKAGE_xl2tpd=n
CONFIG_PACKAGE_ppp-mod-pptp=n
CONFIG_V2RAY_COMPRESS_UPX=n

CONFIG_PACKAGE_apk=n
CONFIG_PACKAGE_alpine-keys=n
CONFIG_PACKAGE_alpine-repositories=n
CONFIG_PACKAGE_bsdtar=n
CONFIG_PACKAGE_bzip2=n
CONFIG_PACKAGE_gzip=n
CONFIG_PACKAGE_unzip=n
CONFIG_PACKAGE_zip=n
CONFIG_PACKAGE_fdisk=n
CONFIG_PACKAGE_fstrim=n
CONFIG_PACKAGE_lsblk=n
CONFIG_PACKAGE_lscpu=n
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_node-npm=n
CONFIG_PACKAGE_shadow-chsh=n
CONFIG_PACKAGE_vim=n
CONFIG_PACKAGE_f2fs-tools=n
CONFIG_PACKAGE_f2fsck=n
CONFIG_PACKAGE_resize2fs=n
CONFIG_PACKAGE_zsh=n
CONFIG_PACKAGE_screen=n
CONFIG_PACKAGE_snmpd=n
CONFIG_PACKAGE_tmux=n
CONFIG_PACKAGE_tree=n
CONFIG_PACKAGE_usbutils=n
CONFIG_PACKAGE_whereis=n
CONFIG_PACKAGE_tmate=n
CONFIG_PACKAGE_udp2raw-tunnel=n
CONFIG_PACKAGE_udpspeeder=n

CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_docker-ce=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_qBittorrent=n

CONFIG_PACKAGE_libimobiledevice-utils=n
CONFIG_PACKAGE_libplist-utils=n
CONFIG_PACKAGE_libusbmuxd-utils=n
CONFIG_PACKAGE_usbmuxd=n
CONFIG_PACKAGE_libudev-fbsd=n
